network:
  version: 2
  renderer: networkd
  ethernets:
{% if network_interfaces is defined %}
{% for interface in network_interfaces %}
    {{ interface.name }}:
{% if interface.dhcp %}
      dhcp4: true
{% else %}
      addresses: [{{ interface.ip_address }}/{{ interface.cidr }}]
{% if interface.gateway is defined %}
      gateway4: {{ interface.gateway }}
{% endif %}
{% if interface.nameservers is defined %}
      nameservers:
        addresses: {{ interface.nameservers }}
{% endif %}
{% endif %}
{% endfor %}
{% else %}
    {{ ansible_default_ipv4.interface }}:
      dhcp4: true
{% endif %}
