[Unit]
Description=Geth

[Service]
Type=simple
User=svc_geth
Restart=always
ExecStart=/usr/bin/geth \
    --datadir {{ root_dir }}/ethereum \
    --ipcdisable \
    --syncmode full \
    --port {{ port.port | default(port.port) }} \
    --http \
    --http.addr {{ ansible_default_ipv4.address }} \
    --http.port {{ port.http | default(port.http) }} \
    --http.api "personal,eth,net,web3,txpool,miner,admin" \
    --http.corsdomain="*" \
    --authrpc.addr {{ ansible_default_ipv4.address }} \
    --authrpc.port {{ port.authrpc | default(port.authrpc) }} \
    --networkid {{ json.config.chainId | default(json.config.chainId) }} \
    --nat=extip:{{ ansible_default_ipv4.address }} \
    --allow-insecure-unlock
